.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 1rem;
    width: 80%;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
  }

  .info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.output {
    font-weight: bold;
    margin-left: 30px;
}