.header {
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    background-color: #f1ab07;
    border-radius: 0 0 30px 30px; 
    align-items: center;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.4);
}

.header img{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    padding-left: 0%;
}